* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
.clearfix{
    content: '';
    display: table;
    clear: both;
}
/* fine common  */

/* wrapper  */
.wrapper{
    font-family:'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
}

/* hover  */
.logo:hover{
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.menu-top ul li:hover {
    color: white;
    cursor: pointer;
}
.menu ul li:hover,
.box-playlist:hover,
.item span:hover,
.playlist ul li:hover,
.install,
.user span:hover,
.install span:hover,
.user,
.footer-left,
.far:hover,
.fas:hover,
.play i:nth-of-type(1):hover {
    cursor: pointer;
    color: white;
}

/* common  */


/* inizio main  */
main {
    position:relative;
    height: calc(100vh - 90px);
    width: 100%;
}

/* sezione NAV-MENU  */
.nav-menu{
    position: relative;
    background-color: #000000;
    float: left;
    height: calc(100vh - 90px);
    width: 230px;
    overflow-y: auto;
}
/* logo spotify */
.logo{
    min-height: 80px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 65%;
    margin-left: 1em;
}

.logo-small{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0.7em;
}

/* first menu home, search, library  */
.menu{
    min-height: 80px;
    color: white;
    padding-top: 0.6em;
    line-height: 1.5;
}

.menu ul {
    display: flex;
    flex-direction:column;
    color: #77797F;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 2;
}

.menu ul li {
    color: #77797F;
    list-style-type: none;
    line-height: 2;
    padding: 0.3em;
    padding-left: 0.8em;
    border-left: 3px solid black; 

}

.menu ul li:first-child {
    color: white;
    border-left: 3px solid #ADFF2E;
}
li span {
    padding-left: 0.7em;
}
.menu i {
    font-size: 1.7em;
}

/* playlist  */
.playlist {
    padding: 1em 0 0 1em;
    height: calc(100% - 295px);
    min-height: 100px;
    color: white;
    overflow-y:auto;
}

.item {
    display: flex;
    align-items: center;
    color: #77797F;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

.box-playlist {
    height: 40px;
    width: 40px;
    background-color: gray;
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    color: black;
    margin-right: 0.4em;
}

.playlist ul li {
    color: #77797F;
    font-weight: 600;
    font-size: 0.9em;
    list-style-type: none;
    line-height: 2.5;
}

/* account  */
.account {
    height: 90px;
}

.install,
.user{
    border-bottom: 1px solid #77797F;
    width: 85%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.7em;
    font-size: 12px;
    color: #77797F;
}

.install span{
    font-weight: 700;
    font-size: 1.1em;
}
.user span{
    font-weight: 700;
    font-size: 1.1em;
    color: white;
}

.user{
    border: none;
}

.user i{
    font-size: 25px;
    padding-right: 0.3em;
}

/* sezione CONTENT */

.content {
    width: calc(100% - 230px);
    float: left;
    height: calc(100vh - 90px);
    /* min-height: 150px; */
    overflow-y: auto;
    background-color: #141A22;
}

.upgrade{
    background: #080B13;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-top {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    padding: 0.9em;    
    width: 15%;
    border-radius: 25px;
    margin-right: 2%;
}

.icon-top:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/*  menu centrale nel main */
.menu-top {
    color: #77797F;
    margin: 0 auto;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
}

.menu-top ul{
    margin: 0 auto;
    list-style-type: none;
}

.menu-top ul li{
    float: left;
    float: left;
    padding: 3px;
    word-wrap: unset;
    padding: 1em;
    font-size: 0.9em;
}

.menu-top ul li p{
    border: 1px solid #ADFF2E;
    width: 35%;
    margin: 0 auto;
    margin-top: 2%;
}

.menu-top ul li:hover p{
    transform: scale(1.5);
}

/* fine menu centrale nel main  */
/* inizio containers */
.container{
    color: white;
    padding: 0 1%;
}

.container h2{
    padding: 1em 0 1em 0.5em;
}

.container p{
    padding-bottom: 1.2em;
    padding-left: 1em;
    font-size: 0.7em;
    font-weight: 700;
    color: #77797F;
}

.element{
    float: left;
    padding-left: 0.5em;
    position: relative;
    height: 280px;
}

.longer{
    height: 280px;
}

.element i{
    display: none;
}

.element:hover i {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    display: inline;
}
.element img {
    width: 180px;
    height: 180px;
    float: right;
    margin-bottom: 10px;
}
.element:hover img {
    opacity: 0.4;
}
.element h3 {
    text-align: center;
    font-size: 1em;
}
.element p{
    font-size: 0.7em;
    font-weight: 700;
    color: #77797F;
    text-align: center;
    padding-top: 0.3em;
}
.circle .element img{
    border-radius: 50%;
}

/* fine containers  */
/* fine main  */

/* inizio footer  */
footer {
    height: 90px;
    background-color: #282828;
    z-index: 999;   
    bottom: 0;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* footer left and right  */
.footer-left,
.footer-right {
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
    font-size: 0.6em;
    font-weight: 700;
    color: #77797F;
    height: 100%;
}
.footer-left img {
    width: 70px;
    padding: 1.4em;
}
.footer-left .far {
    font-size: 1.8em;
    padding: 0.3em;
}
.melody span {
    display: block;  /* manda a capo il testo */
    font-size: 1.2em;
    color: white;
}
.icons {
    padding-left: 3em;
}
.footer-right{
    display: flex;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 1em;
}
.footer-right .fas {
    font-size: 1.5em;
}
.bar {
    border: 1px solid white;
    border-radius: 5%;
    width: 50%;
}

/* .footer-right p{
    position: absolute;
    border: 1px solid #ADFF2E;
    background-color: #ADFF2E;
    border-radius: 20px;
    width: 1%;
    margin-right: 50px;
}

.bar i{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
}
 */


/* footer center  */
.footer-center {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.play,
.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 1.1em;
    color: white;
    height: 100%;
}
.play{
    width: 35%;
}
.time{
    position: relative;
    width: 90%;
}

.play i:nth-of-type(3) {
    font-size: 1.8em;
    cursor: pointer;
}

.play i:nth-of-type(3):hover {
    transform: scale(1.5);
}

.longer-bar{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 80%;
}

.time p {
    position: absolute;
    border: 1px solid #ADFF2E;
    background-color: #ADFF2E;
    border-radius: 20px;
    width: 15%;
    margin: 10%;
}
.time i {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 25%;
}
.time span{
    font-size: 0.5em;
    font-weight: 700;
}
/* fine footer center  */
/* fine footer  */